@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

body {
	background-color: #ffffff;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	font-family: Roboto, sans-serif;
	border-color: gray;
	border-style: dotted;
}

p {
	padding: 0;
	margin: 0;
}

.container {
	padding: 10px 100px;
	gap: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* border: red;
	border-style: dashed; */
}

header {
	padding: 10px 0px;

	display: flex;
	justify-content: space-between;
	align-items: baseline;
	/* border: blue;
	border-style: dashed; */
}

.logo {
	font-size: 24px;
	color: #f9faf8;
	/* border: purple;
	border-style: dashed; */
}

/* nav items & list */
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 16px;
	flex-direction: row;
	justify-content: space-between;
	list-style-position: inside;
	/* border: purple;
	border-style: dashed; */
}

nav {
	margin: 0;
	/* display: flex;
	flex-direction: row;#33be21
	justify-content: space-between;
	align-items: flex-start; */
}

li {
	text-decoration: none;
	margin: 0;
	/* border: yellow;
	border-style: dashed; */
}

a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 18px;
}

/* temp placeholder */

.tempimage {
	display: flex;
	flex: auto;
	background-color: gray;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	/* border: purple;
	border-style: dashed; */
}

.tempimage p {
	color: #e5e7eb;
}

/* hero items */

.herocontainer {
	padding: 0;
	width: 50%;
	/* border: purple;
	border-style: dashed; */
}

button {
	background-color: #3882f6;
	color: #f9faf8;
	border: none;
	border-radius: 5px;
	padding: 0.25em 1.25em;
	margin: 0 0 8px 0;
}

.hero {
	display: flex;
	min-height: 100px;
	margin: 0px;
	padding: 0.5em 0;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	gap: 42px;
	/* border: green;
	border-style: solid; */
}

/* background colors */

.bg1 {
	background-color: #1f2937;
}
.bg2 {
	background-color: #3882f6;
}
.bg3 {
	background-color: #e5e7eb;
}
.whitebg {
	background-color: white;
}
.col1 {
	color: #1f2937;
}
.col2 {
	color: #3882f6;
}
.col3 {
	color: #e5e7eb;
}
.colwhite {
	color: white;
}

/* text styles */

h1.texthero {
	font-size: 48px;
	font-weight: 900;
	margin: 0;
}
p.text2 {
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.textlogo {
	color: #f9faf8;
	font-size: 24px;
}
.textinfo {
	font-size: 36px;
	font-weight: 900;
}
.textquote {
	font-size: 36px;
	font-style: italic;
	font-weight: 100;
	padding: 0;
	margin: 0;
}

section {
	/* padding: 40px 20px; */
	/* height: 300px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.quote {
	margin: 0;
	justify-content: space-around;
}
.quote .container {
	padding: 10% 0;
	margin: 0 15%;
}
.quote h5 {
	text-align: right;
	font-weight: 800;
	padding: 0;
}
.imagecontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
}

.imagecontainer p {
	text-align: center;
	padding-top: 8px;
}

.imagecontainer .vert {
	width: min-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.illust2 {
	width: 150px;
	height: 150px;
	border-radius: 16px;
	border-style: solid;
	border-color: #3882f6;
}

.cta {
	margin: 0px;
}
.cta .imagecontainer {
	width: max-content;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
}

.cta .container {
	width: 800px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0;
	padding: 24px 0;
	gap: 48px;
}

.cta button {
	border-style: solid;
	margin: 0;
}

h3 {
	margin: 0;
	padding: 0;
}
.cta p {
	margin: -20px 0px;
}
